
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Entregas</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a routerLink="/evidences" class="btn btn-sm  btn-outline-secondary">Regresar</a>
    </div>
  </div>
</div>

<div class="card-deck" *ngFor="let item of evidences">
  <div class="card m-2">
    <img src="{{item.urlDni}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">DNI</h5>
    </div>
  </div>
  <div class="card m-2">
    <img src="{{item.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">FOTO</h5>
    </div>
  </div>
</div>
