<div class="position-sticky pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/">
        <span data-feather="home"></span>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/customer">
        <span data-feather="file"></span>
       Cliente
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products">
        <span data-feather="shopping-cart"></span>
        Producto
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/orders">
        <span data-feather="users"></span>
        Pedidos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">
        <span data-feather="bar-chart-2"></span>
        Usuarios
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="layers"></span>
        Vehiculos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/evidences">
        <span data-feather="layers"></span>
        Entregas
      </a>
    </li>
  </ul>

</div>
