
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Entregas</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">

    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Código</th>
    <th scope="col">Fecha Emision</th>
    <th scope="col">Fecha Delivery</th>
    <th scope="col">Nro Doc</th>
    <th scope="col">Denomiación</th>
    <th scope="col">Estado</th>
    <th scope="col">Importe</th>
    <th scope="col">I.G.V</th>
    <th scope="col">Total</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of orders">
    <th scope="row">{{item.orderId}}</th>
    <td>{{item.mumOrder}}</td>
    <td>{{item.createDate}}</td>
    <td>{{item.deliveryDate}}</td>
    <td>{{item.customers.numerDocument}}</td>
    <td>{{item.customers.firstName + " " + item.customers.lastName}}</td>
    <td>{{item.state}}</td>
    <td>{{item.subTotal}}</td>
    <td>{{item.igv}}</td>
    <td>{{item.total}}</td>
    <td><a routerLink="/pictures/{{item.orderId}}"><i class="bi bi-camera"></i></a></td>
  </tr>
  </tbody>
</table>
